﻿@{
    ViewBag.Title = "Home Page";
}
@model WebApplication2.Models.FizzBuzzViewModel

<!DOCTYPE html>
<html>
<body>
    @using (Html.BeginForm("GetFizzBuzz", "FizzBuzz", FormMethod.Post))
    {
        <br />
        @Html.TextBoxFor(m => m.number)<br />
        <input type="submit" class="btn btn-success" />
    }  
</body>
</html>